@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@font-face { font-family: 'drthiagosilva'; src: url("../fonts/drthiagosilva.eot"); src: url("../fonts/drthiagosilva.eot?#iefix") format("embedded-opentype"), url("../fonts/drthiagosilva.woff") format("woff"), url("../fonts/drthiagosilva.ttf") format("truetype"), url("../fonts/drthiagosilva.svg#drthiagosilva") format("svg"); font-weight: normal; font-style: normal; }
[class*='icon-']:before { display: inline-block; font-family: 'drthiagosilva'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-instagram:before { content: '\0041'; }

.icon-facebook:before { content: '\0042'; }

.icon-arrow-down:before { content: '\0043'; }

.icon-cerebro:before { content: '\0044'; }

body { text-rendering: optimizeLegibility; font-weight: normal; font-family: 'Lora', serif; margin: 0; padding: 0; }

h1, h2, h3, h4, h5, p { font-family: 'Lora', serif; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

a:focus { outline: none !important; }

h1, h2, h3, h4, h5 { font-weight: 700; font-style: italic; }

p { font-size: 15px; color: #2c3e50; }

.modal-header { border-top: 5px #62c2f3 solid; border-bottom: none; background: none; }
.modal-header h4 { color: #1c2469; }

.modal-content { background: #fff url(../img/meio-cerebro.png) no-repeat top left; border: none; }

header { background: #62c2f3; border-bottom: 7px solid #d3d9de; }
header section.hd-topo { background: rgba(255, 255, 255, 0.15); }
header section.hd-topo p { text-align: right; font-size: 13px; color: #fff; line-height: 29px; display: inline-block; float: right; padding-right: 5px; }
header section.hd-topo p a { color: #fff; }
header section.hd-topo ul.redessociais { float: right; margin: 5px 0 0 0; padding: 0; }
header section.hd-topo ul.redessociais li { display: inline-block; list-style-type: none; }
header section.hd-topo ul.redessociais li a { color: #fff; font-size: 18px; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
header section.hd-topo ul.redessociais li a:hover { color: #1c2469; }
header .navbar-brand { padding: 16px 0 0; margin-bottom: 20px; width: 366px; height: 52px; }
header .navbar-brand h1 { background: url(../img/logo.svg) no-repeat top left; text-indent: -999999px; display: block; overflow: hidden; width: 100%; }
header .nav > li { font-weight: 400; -webkit-font-smoothing: antialiased; text-transform: uppercase; font-size: 15px; }
header .nav > li > a { margin-top: 12px; padding-right: 0; padding-left: 30px; }
header .navbar { margin-bottom: 0; }
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus { background: #62c2f3; color: #1c2469; }
header .dropdown-menu > li > a:hover, header .dropdown-menu > li > a:focus { background: #62c2f3; }
header .navbar-default { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; background-color: #62c2f3; border: none; }
header .navbar-default .navbar-nav > li > a:hover { color: #1c2469; }
header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:hover, header .navbar-default .navbar-nav .active a:focus { background: #62c2f3; color: #1c2469; }
header .navbar-default .navbar-toggle { margin-right: 0; border-color: #62c2f3; }
header .navbar-default .navbar-toggle.collapsed { background-color: #62c2f3; }
header .navbar-default .navbar-toggle:hover { background-color: #1c2469; }

section.destaque { /*margin: 1px 0;*/ background-image: url("../img/banner/banner-thiago-silva-01.jpg"); height: 500px; background-size: cover; /*margin-bottom: 1px;*/ margin-top: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
section.especialidades-home { background: #f5f5f5; padding-bottom: 50px; position: relative; }
section.especialidades-home .box-especialidade { border-top: 5px solid #62c2f3; background: #fff url(../img/meio-cerebro.png) no-repeat top left; min-height: 260px; height: auto !important; padding: 35px 15px 60px; margin-bottom: 20px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -webkit-transition: border-top 1s; -moz-transition: border-top 1s; -ms-transition: border-top 1s; -o-transition: border-top 1s; transition: border-top 1s; }
section.especialidades-home .box-especialidade h2 { font-weight: 700i; font-style: italic; min-height: 70px; font-size: 24px; max-width: 173px; }
section.especialidades-home .box-especialidade h2 a { color: #62c2f3; text-decoration: none; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
section.especialidades-home .box-especialidade p { font-weight: 400; line-height: 18px; }
section.especialidades-home .box-especialidade p a { color: #2c3e50; text-decoration: none; }
section.especialidades-home .box-especialidade a.btn-saiba-mais { position: absolute; bottom: 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; background: #62c2f3; padding: 5px 10px; color: #fff; text-decoration: none; font-weight: 400; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; -o-transition: background 1s; transition: background 1s; }
section.especialidades-home .box-especialidade a.btn-saiba-mais:hover { background: #1c2469; }
section.especialidades-home .box-especialidade:hover { border-top: 5px solid #1c2469; }
section.especialidades-home .box-especialidade:hover h2 a { color: #1c2469; }
section.consulta-faq { background-image: url(../img/bg-faq.png); background-color: #1c2469; background-blend-mode: multiply; background-position: center center; background-repeat: no-repeat; padding: 35px 0; }
section.consulta-faq h2 { font-size: 24px; color: #fff; font-weight: 700i; font-style: italic; }
section.consulta-faq h2 a { text-decoration: none; color: #fff; }
section.consulta-faq p { color: #fff; font-weight: 400; display: table; padding-bottom: 20px; }
section.consulta-faq p a { text-decoration: none; color: #fff; }
section.consulta-faq span.icon-home { width: 70px; height: 70px; float: left; margin-right: 10px; }
section.consulta-faq span.icon-home.icon-faq { background: url(../img/faq-icon.png) no-repeat top left; }
section.consulta-faq span.icon-home.icon-consulta { background: url(../img/consulta-icon.png) no-repeat top left; }
section.contato-navegacao { padding: 60px 0; background-image: url(../img/bg-contato.png); background-color: #f5f5f5; background-blend-mode: multiply; background-position: center bottom; background-repeat: no-repeat; }
section.contato-navegacao h2 { font-weight: 700i; font-style: italic; color: #62c2f3; font-size: 24px; }
section.contato-navegacao p { margin-bottom: 15px; color: #2c3e50; }
section.contato-navegacao p a.mapa-modal { color: #62c2f3; background: url(../img/pin.png) no-repeat left top; padding-left: 25px; padding-bottom: 3px; margin-left: 5px; }
section.contato-navegacao p a.mapa-modal:hover { text-decoration: none; cursor: pointer; }
section.contato-navegacao p span.bold { font-weight: 700; font-style: italic; color: #000; }
section.contato-navegacao ul { padding-left: 0; }
section.contato-navegacao ul li { list-style-type: none; font-weight: 400; color: #2c3e50; padding-top: 2px; }
section.contato-navegacao ul li a { color: #2c3e50; text-decoration: none; }
section.contato-navegacao ul li a:hover { color: #62c2f3; }
section.heading { height: 230px; background-size: cover; /*margin-bottom: 1px;*/ margin-top: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
section.heading .overlay-hd { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); }
section.heading h2 { text-align: center; line-height: 230px; color: #fff; font-weight: 400; font-style: italic; font-size: 40px; -webkit-font-smoothing: antialiased; }
section.heading.hd-faq { background-image: url("../img/banner/banner-thiago-silva-01.jpg"); background-position-y: center; background-position-x: center; }
section.heading.hd-trat-endo { background-image: url("../img/banner/banner-thiago-silva-07.jpg"); background-position-y: center; background-position-x: center; }
section.heading.hd-formacao { background-image: url("../img/banner/banner-thiago-silva-05.jpg"); background-position-y: center; background-position-x: center; }
section.heading.hd-especialidade { background-image: url("../img/banner/banner-thiago-silva-02.png"); background-position-y: center; background-position-x: center; }
section.heading.hd-especialidade2 { background-image: url("../img/banner/banner-thiago-silva-03.png"); background-position-y: center; background-position-x: center; }
section.heading.hd-especialidade3 { background-image: url("../img/banner/banner-thiago-silva-06.jpg"); background-position-y: center; background-position-x: center; }
section.heading.hd-contato { background-image: url("../img/banner/banner-thiago-silva-04.jpg"); background-position-y: center; background-position-x: center; }
section.faq { padding: 50px 0; }
section.especialidade { padding: 30px 0; }
section.especialidade h2 { font-size: 28px; padding-top: 15px; padding-bottom: 30px; }
section.especialidade h2.margin-zero { padding-bottom: 0; }
section.especialidade img { /*float: right;*/ -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; border: 3px solid #f5f5f5; /*margin: 0 15px 15px;
width: 100%;
height: auto;
max-width: 500px;*/ }
section.especialidade p { padding: 10px 0; }
section.especialidade ul { margin: 30px 0; padding-left: 0; }
section.especialidade ul li { list-style-type: none; color: #2c3e50; -webkit-font-smoothing: antialiased; padding: 3px 0; background: url(../img/bullet.png) no-repeat 0 5px; padding-left: 25px; }
section.formacao { padding: 30px 0; }
section.formacao h2 { font-size: 28px; padding-top: 15px; padding-bottom: 30px; }
section.formacao h2.margin-zero { padding-bottom: 0; }
section.formacao h3 { font-size: 22px; padding-top: 20px; padding-bottom: 10px; }
section.formacao p { padding: 10px 0; }
section.formacao ul { margin: 30px 0; padding-left: 0; }
section.formacao ul li { list-style-type: none; color: #2c3e50; -webkit-font-smoothing: antialiased; padding: 3px 0; background: url(../img/bullet.png) no-repeat 0 5px; padding-left: 25px; }
section.contato { padding: 30px 0; }
section.contato p { padding: 10px 0; }
section.contato form #form { background: #5e739a; border-radius: 20px; padding: 30px; }
section.contato form textarea.form-control { height: 150px; }
section.contato form .select { background: #7da9cd; color: #fff; }
section.contato form .btn-form-contato { background: #1c2469; font-weight: 300; font-size: 14px; color: #fff; -webkit-font-smoothing: antialiased; }

footer { background: #62c2f3; }
footer p { color: #fff; font-size: 14px; text-align: center; padding: 15px 0; text-rendering: optimizeLegibility; }

@media (min-width: 992px) and (max-width: 1024px) { section.destaque { height: 420px; } }
@media (min-width: 768px) and (max-width: 991px) { header .navbar-brand { padding: 16px 0 0; width: 260px; height: 46px; }
  header .nav > li > a { margin-top: 5px; }
  section.destaque { height: 340px; } }
@media (max-width: 767px) { section.destaque { height: 300px; }
  section.consulta-faq p { padding-bottom: 30px; }
  section.contato-navegacao { padding: 30px 0; }
  section.contato-navegacao h2 { margin-top: 20px; }
  section.especialidades-home { padding-bottom: 40px; }
  section.especialidades-home .box-especialidade { min-height: 170px; padding: 15px 15px 60px; margin-bottom: 20px; }
  section.especialidades-home .box-especialidade h2 { max-width: 300px; min-height: 30px; }
  section.especialidades-home .box-especialidade a.btn-saiba-mais { bottom: 20px; } }
@media (max-width: 480px) { header .navbar-brand { padding: 16px 0 0; width: 220px; height: 46px; }
  header .nav > li > a { margin-top: 5px; }
  section.destaque { height: 220px; } }
