@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@font-face { font-family: 'drthiagosilva'; src: url("../fonts/drthiagosilva.eot"); src: url("../fonts/drthiagosilva.eot?#iefix") format("embedded-opentype"), url("../fonts/drthiagosilva.woff") format("woff"), url("../fonts/drthiagosilva.ttf") format("truetype"), url("../fonts/drthiagosilva.svg#drthiagosilva") format("svg"); font-weight: normal; font-style: normal; }
/* line 23, main.scss */
[class*='icon-']:before { display: inline-block; font-family: 'drthiagosilva'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 32, main.scss */
.icon-instagram:before { content: '\0041'; }

/* line 33, main.scss */
.icon-facebook:before { content: '\0042'; }

/* line 34, main.scss */
.icon-arrow-down:before { content: '\0043'; }

/* line 35, main.scss */
.icon-cerebro:before { content: '\0044'; }

/* line 65, main.scss */
body { text-rendering: optimizeLegibility; font-weight: normal; font-family: 'Lora', serif; margin: 0; padding: 0; }

/* line 72, main.scss */
h1, h2, h3, h4, h5, p { font-family: 'Lora', serif; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

/* line 78, main.scss */
a:focus { outline: none !important; }

/* line 84, main.scss */
header { background: #62c2f3; border-bottom: 7px solid #d3d9de; }
/* line 89, main.scss */
header section.hd-topo { background: rgba(255, 255, 255, 0.15); }
/* line 91, main.scss */
header section.hd-topo p { text-align: right; font-size: 13px; color: #fff; line-height: 29px; display: inline-block; float: right; padding-right: 5px; }
/* line 100, main.scss */
header section.hd-topo p a { color: #fff; }
/* line 107, main.scss */
header section.hd-topo ul.redessociais { float: right; margin: 5px 0 0 0; padding: 0; }
/* line 111, main.scss */
header section.hd-topo ul.redessociais li { display: inline-block; list-style-type: none; }
/* line 115, main.scss */
header section.hd-topo ul.redessociais li a { color: #fff; font-size: 18px; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
/* line 119, main.scss */
header section.hd-topo ul.redessociais li a:hover { color: #1c2469; }
/* line 129, main.scss */
header h1 { margin-bottom: 15px; }
/* line 133, main.scss */
header h1 a img { max-width: 375px !important; }

/* line 141, main.scss */
section.destaque { /*margin: 1px 0;*/ background-image: url("../img/banner/banner-thiago-silva-01.jpg"); height: 520px; background-size: cover; /*margin-bottom: 1px;*/ margin-top: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
/* line 157, main.scss */
section.especialidades-home { background: #f5f5f5; padding-bottom: 50px; position: relative; }
/* line 162, main.scss */
section.especialidades-home .box-especialidade { border-top: 5px solid #62c2f3; background: #fff url(../img/meio-cerebro.png) no-repeat top left; min-height: 260px; height: auto !important; padding: 35px 15px 60px; margin-bottom: 20px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -webkit-transition: border-top 1s; -moz-transition: border-top 1s; -ms-transition: border-top 1s; -o-transition: border-top 1s; transition: border-top 1s; }
/* line 172, main.scss */
section.especialidades-home .box-especialidade h2 { font-weight: 700i; font-style: italic; min-height: 70px; font-size: 24px; max-width: 173px; }
/* line 178, main.scss */
section.especialidades-home .box-especialidade h2 a { color: #62c2f3; text-decoration: none; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
/* line 185, main.scss */
section.especialidades-home .box-especialidade p { font-weight: 400; line-height: 18px; }
/* line 188, main.scss */
section.especialidades-home .box-especialidade p a { color: #232327; text-decoration: none; }
/* line 195, main.scss */
section.especialidades-home .box-especialidade a.btn-saiba-mais { position: absolute; bottom: 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; background: #62c2f3; padding: 5px 10px; color: #fff; text-decoration: none; font-weight: 400; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; -o-transition: background 1s; transition: background 1s; }
/* line 207, main.scss */
section.especialidades-home .box-especialidade a.btn-saiba-mais:hover { background: #1c2469; }
/* line 213, main.scss */
section.especialidades-home .box-especialidade:hover { border-top: 5px solid #1c2469; }
/* line 217, main.scss */
section.especialidades-home .box-especialidade:hover h2 a { color: #1c2469; }
/* line 226, main.scss */
section.consulta-faq { background-image: url(../img/bg-faq.png); background-color: #1c2469; background-blend-mode: multiply; background-position: center center; background-repeat: no-repeat; padding: 35px 0; }
/* line 233, main.scss */
section.consulta-faq h2 { font-size: 24px; color: #fff; font-weight: 700i; font-style: italic; }
/* line 238, main.scss */
section.consulta-faq h2 a { text-decoration: none; color: #fff; }
/* line 243, main.scss */
section.consulta-faq p { color: #fff; font-weight: 400; }
/* line 246, main.scss */
section.consulta-faq p a { text-decoration: none; color: #fff; }
/* line 254, main.scss */
section.contato-navegacao { padding: 60px 0; background-image: url(../img/bg-contato.png); background-color: #f5f5f5; background-blend-mode: multiply; background-position: center bottom; background-repeat: no-repeat; }

/* line 265, main.scss */
footer { background: #62c2f3; }
/* line 267, main.scss */
footer p { color: #fff; font-size: 14px; text-align: center; padding: 15px 0; text-rendering: optimizeLegibility; }

@media (min-width: 992px) and (max-width: 1024px) { /* line 279, main.scss */
  section.destaque { height: 420px; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 286, main.scss */
  section.destaque { height: 340px; } }
@media (max-width: 767px) { /* line 293, main.scss */
  section.destaque { height: 300px; } }
@media (max-width: 480px) { /* line 300, main.scss */
  section.destaque { height: 220px; } }
