@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i");
@font-face { font-family: 'drthiagosilva'; src: url("../fonts/drthiagosilva.eot"); src: url("../fonts/drthiagosilva.eot?#iefix") format("embedded-opentype"), url("../fonts/drthiagosilva.woff") format("woff"), url("../fonts/drthiagosilva.ttf") format("truetype"), url("../fonts/drthiagosilva.svg#drthiagosilva") format("svg"); font-weight: normal; font-style: normal; }
/* line 23, main.scss */
[class*='icon-']:before { display: inline-block; font-family: 'drthiagosilva'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 32, main.scss */
.icon-instagram:before { content: '\0041'; }

/* line 33, main.scss */
.icon-facebook:before { content: '\0042'; }

/* line 34, main.scss */
.icon-arrow-down:before { content: '\0043'; }

/* line 35, main.scss */
.icon-cerebro:before { content: '\0044'; }

/* line 65, main.scss */
body { text-rendering: optimizeLegibility; font-weight: normal; font-family: 'Lora', serif; margin: 0; padding: 0; }

/* line 72, main.scss */
h1, h2, h3, h4, h5, p { font-family: 'Lora', serif; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; }

/* line 78, main.scss */
a:focus { outline: none !important; }

/* line 82, main.scss */
h1, h2, h3, h4, h5 { font-weight: 700; font-style: italic; }

/* line 87, main.scss */
p { font-size: 15px; color: #2c3e50; }

/* line 93, main.scss */
header { background: #62c2f3; border-bottom: 7px solid #d3d9de; /*h1 {
	margin-bottom: 15px;
	margin-top: 15px;
	
	a {
		img {
			max-width: 375px !important;
		}
	}
}*/ }
/* line 98, main.scss */
header section.hd-topo { background: rgba(255, 255, 255, 0.15); }
/* line 100, main.scss */
header section.hd-topo p { text-align: right; font-size: 13px; color: #fff; line-height: 29px; display: inline-block; float: right; padding-right: 5px; }
/* line 109, main.scss */
header section.hd-topo p a { color: #fff; }
/* line 116, main.scss */
header section.hd-topo ul.redessociais { float: right; margin: 5px 0 0 0; padding: 0; }
/* line 120, main.scss */
header section.hd-topo ul.redessociais li { display: inline-block; list-style-type: none; }
/* line 124, main.scss */
header section.hd-topo ul.redessociais li a { color: #fff; font-size: 18px; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
/* line 128, main.scss */
header section.hd-topo ul.redessociais li a:hover { color: #1c2469; }
/* line 138, main.scss */
header .navbar-brand { padding: 16px 0 0; margin-bottom: 20px; width: 366px; height: 52px; }
/* line 143, main.scss */
header .navbar-brand h1 { background: url(../img/logo.svg) no-repeat top left; text-indent: -999999px; display: block; overflow: hidden; width: 100%; }
/* line 152, main.scss */
header .nav > li { font-weight: 400; -webkit-font-smoothing: antialiased; text-transform: uppercase; font-size: 15px; }
/* line 158, main.scss */
header .nav > li > a { margin-top: 12px; padding-right: 0; padding-left: 30px; }
/* line 164, main.scss */
header .navbar { margin-bottom: 0; }
/* line 168, main.scss */
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus { background: #62c2f3; color: #1c2469; }
/* line 173, main.scss */
header .dropdown-menu > li > a:hover, header .dropdown-menu > li > a:focus { background: #62c2f3; }
/* line 177, main.scss */
header .navbar-default { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; border-radius: 0; background-color: #62c2f3; border: none; }
/* line 184, main.scss */
header .navbar-default .navbar-nav > li > a:hover { color: #1c2469; }
/* line 189, main.scss */
header .navbar-default .navbar-nav .active a, header .navbar-default .navbar-nav .active a:hover, header .navbar-default .navbar-nav .active a:focus { background: #62c2f3; color: #1c2469; }
/* line 196, main.scss */
header .navbar-default .navbar-toggle { margin-right: 0; border-color: #62c2f3; }
/* line 200, main.scss */
header .navbar-default .navbar-toggle.collapsed { background-color: #62c2f3; }
/* line 206, main.scss */
header .navbar-default .navbar-toggle:hover { background-color: #1c2469; }

/* line 225, main.scss */
section.destaque { /*margin: 1px 0;*/ background-image: url("../img/banner/banner-thiago-silva-01.jpg"); height: 500px; background-size: cover; /*margin-bottom: 1px;*/ margin-top: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
/* line 239, main.scss */
section.especialidades-home { background: #f5f5f5; padding-bottom: 50px; position: relative; }
/* line 244, main.scss */
section.especialidades-home .box-especialidade { border-top: 5px solid #62c2f3; background: #fff url(../img/meio-cerebro.png) no-repeat top left; min-height: 260px; height: auto !important; padding: 35px 15px 60px; margin-bottom: 20px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) ; -webkit-transition: border-top 1s; -moz-transition: border-top 1s; -ms-transition: border-top 1s; -o-transition: border-top 1s; transition: border-top 1s; }
/* line 254, main.scss */
section.especialidades-home .box-especialidade h2 { font-weight: 700i; font-style: italic; min-height: 70px; font-size: 24px; max-width: 173px; }
/* line 260, main.scss */
section.especialidades-home .box-especialidade h2 a { color: #62c2f3; text-decoration: none; -webkit-transition: color 1s; -moz-transition: color 1s; -ms-transition: color 1s; -o-transition: color 1s; transition: color 1s; }
/* line 267, main.scss */
section.especialidades-home .box-especialidade p { font-weight: 400; line-height: 18px; }
/* line 270, main.scss */
section.especialidades-home .box-especialidade p a { color: #2c3e50; text-decoration: none; }
/* line 277, main.scss */
section.especialidades-home .box-especialidade a.btn-saiba-mais { position: absolute; bottom: 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; background: #62c2f3; padding: 5px 10px; color: #fff; text-decoration: none; font-weight: 400; -webkit-transition: background 1s; -moz-transition: background 1s; -ms-transition: background 1s; -o-transition: background 1s; transition: background 1s; }
/* line 289, main.scss */
section.especialidades-home .box-especialidade a.btn-saiba-mais:hover { background: #1c2469; }
/* line 295, main.scss */
section.especialidades-home .box-especialidade:hover { border-top: 5px solid #1c2469; }
/* line 299, main.scss */
section.especialidades-home .box-especialidade:hover h2 a { color: #1c2469; }
/* line 308, main.scss */
section.consulta-faq { background-image: url(../img/bg-faq.png); background-color: #1c2469; background-blend-mode: multiply; background-position: center center; background-repeat: no-repeat; padding: 35px 0; }
/* line 315, main.scss */
section.consulta-faq h2 { font-size: 24px; color: #fff; font-weight: 700i; font-style: italic; }
/* line 320, main.scss */
section.consulta-faq h2 a { text-decoration: none; color: #fff; }
/* line 326, main.scss */
section.consulta-faq p { color: #fff; font-weight: 400; display: table; padding-bottom: 20px; }
/* line 331, main.scss */
section.consulta-faq p a { text-decoration: none; color: #fff; }
/* line 338, main.scss */
section.consulta-faq span.icon-home { width: 70px; height: 70px; float: left; margin-right: 10px; }
/* line 344, main.scss */
section.consulta-faq span.icon-home.icon-faq { background: url(../img/faq-icon.png) no-repeat top left; }
/* line 348, main.scss */
section.consulta-faq span.icon-home.icon-consulta { background: url(../img/consulta-icon.png) no-repeat top left; }
/* line 354, main.scss */
section.contato-navegacao { padding: 60px 0; background-image: url(../img/bg-contato.png); background-color: #f5f5f5; background-blend-mode: multiply; background-position: center bottom; background-repeat: no-repeat; }
/* line 362, main.scss */
section.contato-navegacao h2 { font-weight: 700i; font-style: italic; color: #62c2f3; font-size: 24px; }
/* line 368, main.scss */
section.contato-navegacao p { margin-bottom: 15px; color: #2c3e50; }
/* line 372, main.scss */
section.contato-navegacao p span.bold { font-weight: 700; font-style: italic; color: #000; }
/* line 380, main.scss */
section.contato-navegacao ul { padding-left: 0; }
/* line 382, main.scss */
section.contato-navegacao ul li { list-style-type: none; font-weight: 400; color: #2c3e50; padding-top: 2px; }
/* line 388, main.scss */
section.contato-navegacao ul li a { color: #2c3e50; text-decoration: none; }
/* line 392, main.scss */
section.contato-navegacao ul li a:hover { color: #62c2f3; }
/* line 400, main.scss */
section.heading { height: 230px; background-size: cover; /*margin-bottom: 1px;*/ margin-top: 1px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
/* line 411, main.scss */
section.heading .overlay-hd { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); }
/* line 416, main.scss */
section.heading h2 { text-align: center; line-height: 230px; color: #fff; font-weight: 400; font-style: italic; font-size: 40px; -webkit-font-smoothing: antialiased; }
/* line 427, main.scss */
section.heading.hd-faq { background-image: url("../img/banner/banner-thiago-silva-01.jpg"); background-position-y: center; background-position-x: center; }
/* line 433, main.scss */
section.heading.hd-trat-endo { background-image: url("../img/banner/banner-thiago-silva-02.png"); background-position-y: center; background-position-x: center; }
/* line 438, main.scss */
section.heading.hd-formacao { background-image: url("../img/banner/banner-thiago-silva-03.png"); background-position-y: center; background-position-x: center; }
/* line 443, main.scss */
section.heading.hd-especialidade { background-image: url("../img/banner/banner-thiago-silva-02.png"); background-position-y: center; background-position-x: center; }
/* line 448, main.scss */
section.heading.hd-especialidade2 { background-image: url("../img/banner/banner-thiago-silva-03.png"); background-position-y: center; background-position-x: center; }
/* line 453, main.scss */
section.heading.hd-contato { background-image: url("../img/banner/banner-thiago-silva-01.jpg"); background-position-y: center; background-position-x: center; }
/* line 461, main.scss */
section.faq { padding: 50px 0; }
/* line 465, main.scss */
section.especialidade { padding: 30px 0; }
/* line 468, main.scss */
section.especialidade h2 { font-size: 28px; padding-top: 15px; padding-bottom: 30px; }
/* line 473, main.scss */
section.especialidade h2.margin-zero { padding-bottom: 0; }
/* line 478, main.scss */
section.especialidade p { padding: 10px 0; }
/* line 481, main.scss */
section.especialidade ul { margin: 30px 0; padding-left: 0; }
/* line 484, main.scss */
section.especialidade ul li { list-style-type: none; color: #2c3e50; -webkit-font-smoothing: antialiased; padding: 3px 0; background: url(../img/bullet.png) no-repeat 0 5px; padding-left: 25px; }
/* line 495, main.scss */
section.formacao { padding: 30px 0; }
/* line 498, main.scss */
section.formacao h2 { font-size: 28px; padding-top: 15px; padding-bottom: 30px; }
/* line 503, main.scss */
section.formacao h2.margin-zero { padding-bottom: 0; }
/* line 508, main.scss */
section.formacao h3 { font-size: 22px; padding-top: 20px; padding-bottom: 10px; }
/* line 514, main.scss */
section.formacao p { padding: 10px 0; }
/* line 517, main.scss */
section.formacao ul { margin: 30px 0; padding-left: 0; }
/* line 520, main.scss */
section.formacao ul li { list-style-type: none; color: #2c3e50; -webkit-font-smoothing: antialiased; padding: 3px 0; background: url(../img/bullet.png) no-repeat 0 5px; padding-left: 25px; }
/* line 531, main.scss */
section.contato { padding: 30px 0; }
/* line 533, main.scss */
section.contato p { padding: 10px 0; }
/* line 537, main.scss */
section.contato form #form { background: #5e739a; border-radius: 20px; padding: 30px; }
/* line 542, main.scss */
section.contato form textarea.form-control { height: 150px; }
/* line 543, main.scss */
section.contato form .select { background: #7da9cd; color: #fff; }
/* line 547, main.scss */
section.contato form .btn-form-contato { background: #1c2469; font-weight: 300; font-size: 14px; color: #fff; -webkit-font-smoothing: antialiased; }

/* line 558, main.scss */
footer { background: #62c2f3; }
/* line 560, main.scss */
footer p { color: #fff; font-size: 14px; text-align: center; padding: 15px 0; text-rendering: optimizeLegibility; }

@media (min-width: 992px) and (max-width: 1024px) { /* line 572, main.scss */
  section.destaque { height: 420px; } }
@media (min-width: 768px) and (max-width: 991px) { /* line 579, main.scss */
  header .navbar-brand { padding: 16px 0 0; width: 260px; height: 46px; }
  /* line 586, main.scss */
  header .nav > li > a { margin-top: 5px; }
  /* line 591, main.scss */
  section.destaque { height: 340px; } }
@media (max-width: 767px) { /* line 598, main.scss */
  section.destaque { height: 300px; }
  /* line 602, main.scss */
  section.consulta-faq p { padding-bottom: 30px; }
  /* line 606, main.scss */
  section.contato-navegacao { padding: 30px 0; }
  /* line 608, main.scss */
  section.contato-navegacao h2 { margin-top: 20px; }
  /* line 612, main.scss */
  section.especialidades-home { padding-bottom: 40px; }
  /* line 616, main.scss */
  section.especialidades-home .box-especialidade { min-height: 170px; padding: 15px 15px 60px; margin-bottom: 20px; }
  /* line 623, main.scss */
  section.especialidades-home .box-especialidade h2 { max-width: 300px; min-height: 30px; }
  /* line 629, main.scss */
  section.especialidades-home .box-especialidade a.btn-saiba-mais { bottom: 20px; } }
@media (max-width: 480px) { /* line 641, main.scss */
  header .navbar-brand { padding: 16px 0 0; width: 220px; height: 46px; }
  /* line 648, main.scss */
  header .nav > li > a { margin-top: 5px; }
  /* line 653, main.scss */
  section.destaque { height: 220px; } }
