// CORES
$ts-azulescuro: #1c2469;
$ts-azulclaro: #62c2f3;
$ts-cinza: #d3d9de;
$ts-cinzaclaro: #f5f5f5;
$ts-branco: #fff;
$ts-branco10: rgba( 255, 255, 255, .15);
$ts-chumbo: #2c3e50;

// FONTES
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

@font-face {
    font-family: 'drthiagosilva';
    src: url('../fonts/drthiagosilva.eot');
    src: url('../fonts/drthiagosilva.eot?#iefix') format('embedded-opentype'),
         url('../fonts/drthiagosilva.woff') format('woff'),
         url('../fonts/drthiagosilva.ttf') format('truetype'),
         url('../fonts/drthiagosilva.svg#drthiagosilva') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'drthiagosilva';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-instagram:before{content:'\0041';}
.icon-facebook:before{content:'\0042';}
.icon-arrow-down:before{content:'\0043';}
.icon-cerebro:before{content:'\0044';}


// TRANSITION
@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
	transition:         $transition;
}

// BORDAS ARREDONDADAS
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
	border-radius:         $radius;
	}

// BOX SHADOW
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
}


// GERAL
body {
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-family: 'Lora', serif;
	margin: 0; padding: 0;
}

h1, h2, h3, h4, h5 , p {
	font-family: 'Lora', serif;
	margin: 0; padding: 0;
	-webkit-font-smoothing: antialiased;
}

a:focus {
	outline: none !important;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	font-style: italic;
}

p {
	font-size: 15px;
	color: $ts-chumbo;
}

.modal-header {
	border-top: 5px $ts-azulclaro solid;
	border-bottom: none;
	background: none;
	h4 {
		color: $ts-azulescuro;
	}
}
.modal-content {
	background: $ts-branco url(../img/meio-cerebro.png)no-repeat top left;
	border: none;
}

// HEADER
header {
	background: $ts-azulclaro;
	border-bottom: 7px solid $ts-cinza;

	section{
		&.hd-topo {
			background: $ts-branco10;
			p {
				text-align: right;
				font-size: 13px;
				color: $ts-branco;
				line-height: 29px;
				display: inline-block;
				float: right;
				padding-right: 5px;

				a {
					color: $ts-branco;
				}

				
			}
			ul {
				&.redessociais {
					float: right;
					margin:5px 0 0 0;
    				padding: 0;
					li {
						display: inline-block;
						list-style-type: none;

						a {
							color: $ts-branco;
							font-size: 18px;
							@include transition(color 1s);
							&:hover {
								color: $ts-azulescuro;
							}
						}
					}
				}
			}
		}
	}
	
	.navbar-brand {
		padding: 16px 0 0;
		margin-bottom: 20px;
		width: 366px;
    	height: 52px;
		 h1 {
		 	background: url(../img/logo.svg) no-repeat top left;
		 	text-indent: -999999px;
		 	display: block;
		 	overflow: hidden;
		 	width: 100%;

		 }
	}
	.nav>li {
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 15px;		
	}
	.nav>li>a {
		margin-top: 12px;
		padding-right: 0;
		padding-left: 30px;
		
	}
	.navbar {
		margin-bottom: 0;
	}

	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background: $ts-azulclaro;
		color: $ts-azulescuro;
	}	

	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		background: $ts-azulclaro;
	}

	.navbar-default {
		@include border-radius(0);
		background-color: $ts-azulclaro;
		border:none;

		.navbar-nav {
			>li{
				>a:hover{
					color:$ts-azulescuro;
				}
			}
			.active {
				a, a:hover, a:focus {
					background:$ts-azulclaro;
					color: $ts-azulescuro;
				}
			}
		}

		.navbar-toggle {
			margin-right: 0;
		    border-color: $ts-azulclaro;

		    &.collapsed {
		    	background-color: $ts-azulclaro;
		    }
		}
	}

	.navbar-default .navbar-toggle:hover {
		background-color: $ts-azulescuro;
	}

}

section {
	&.destaque {
		/*margin: 1px 0;*/

		background-image: url("../img/banner/banner-thiago-silva-01.jpg");
		height: 500px; 
		background-size: cover;
		/*margin-bottom: 1px;*/
		margin-top: 1px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&.especialidades-home {
		background: $ts-cinzaclaro;
		padding-bottom: 50px;
		position: relative;

		.box-especialidade{
			border-top: 5px solid $ts-azulclaro;
			background: $ts-branco url(../img/meio-cerebro.png)no-repeat top left;
			min-height: 260px;
			height: auto !important;
			padding: 35px 15px 60px;
			margin-bottom: 20px;
			@include box-shadow(0, 1px, 5px, rgba(0, 0, 0, 0.1));
			@include transition(border-top 1s);

			h2 {
				font-weight: 700i;
				font-style: italic;
				min-height: 70px;
				font-size: 24px;
				max-width: 173px;
				a {
					color: $ts-azulclaro;
					text-decoration: none;
					@include transition(color 1s);
				}
			}

			p {
				font-weight: 400;
				line-height: 18px;
				a {
					color: $ts-chumbo;
					text-decoration: none;
				}
			}

			a {
				&.btn-saiba-mais {
					position: absolute;
					bottom: 40px;

					@include border-radius(20px);
					background: $ts-azulclaro;
					padding: 5px 10px;
					color: $ts-branco;
					text-decoration: none;
					font-weight: 400;
					@include transition(background 1s);

					&:hover {
						background: $ts-azulescuro;
					}
				}
			}

			&:hover{
				border-top: 5px solid $ts-azulescuro;

				h2 {
					a {
						color: $ts-azulescuro;
					}
				}
			}

		}
	}

	&.consulta-faq {		
		background-image: url(../img/bg-faq.png);
		background-color: $ts-azulescuro;
		background-blend-mode: multiply;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 35px 0;
		h2 {
			font-size: 24px;
			color:$ts-branco;
			font-weight: 700i;
			font-style: italic;
			a {
				text-decoration: none;
				color: $ts-branco;
			}
		}

		p {
			color: $ts-branco;
			font-weight: 400;
			display: table;
			padding-bottom: 20px;
			a {
				text-decoration: none;
				color: $ts-branco;
			}
		}


		span.icon-home {
			width: 70px;
			height: 70px;
			float: left;
			margin-right: 10px;

			&.icon-faq{
				background: url(../img/faq-icon.png) no-repeat top left;
			}

			&.icon-consulta{
				background: url(../img/consulta-icon.png) no-repeat top left;	
			}
		}
	}

	&.contato-navegacao {
		padding: 60px 0;
		background-image: url(../img/bg-contato.png);
		background-color: $ts-cinzaclaro;
		background-blend-mode: multiply;
		background-position: center bottom;
		background-repeat: no-repeat;

		h2{
			font-weight: 700i;
			font-style: italic;
			color: $ts-azulclaro;
			font-size: 24px;
		}
		p {
			margin-bottom: 15px;
			color:$ts-chumbo;
			a {
				&.mapa-modal{
					color: $ts-azulclaro;
					background: url(../img/pin.png)no-repeat left top;
					padding-left: 25px;
					padding-bottom: 3px;
    				margin-left: 5px;
    				&:hover {
    					text-decoration:none;
    					cursor: pointer;
    				}
				}

			}
			span{
				&.bold {
					font-weight: 700;
					font-style: italic;
					color: #000;
				}
			}
		}

		ul {
			padding-left:0;
			li {
				list-style-type: none;
				font-weight: 400;
				color: $ts-chumbo;
				padding-top: 2px;
				
				a{
					color: $ts-chumbo;
					text-decoration: none;

					&:hover{
						color: $ts-azulclaro;
					}
				}
			}
		}
	}

	&.heading {
		height: 230px; 
		background-size: cover;
		/*margin-bottom: 1px;*/
		margin-top: 1px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		.overlay-hd {
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .3);
		}
		h2 {
			text-align: center;
    		line-height: 230px;
    		color:$ts-branco;
    		font-weight: 400;
    		font-style: italic;
    		font-size: 40px;
    		-webkit-font-smoothing: antialiased;
    		
		}
		
		&.hd-faq {
			background-image: url("../img/banner/banner-thiago-silva-01.jpg");
			background-position-y: center;
    		background-position-x: center;
		}

		&.hd-trat-endo{
			background-image: url("../img/banner/banner-thiago-silva-07.jpg"); 
			background-position-y: center;
    		background-position-x: center;
		}
		&.hd-formacao{
			background-image: url("../img/banner/banner-thiago-silva-05.jpg"); 
			background-position-y: center;
    		background-position-x: center;
		}
		&.hd-especialidade{
			background-image: url("../img/banner/banner-thiago-silva-02.png"); 
			background-position-y: center;
    		background-position-x: center;
		}
		&.hd-especialidade2{
			background-image: url("../img/banner/banner-thiago-silva-03.png"); 
			background-position-y: center;
    		background-position-x: center;
		}
		&.hd-especialidade3{
			background-image: url("../img/banner/banner-thiago-silva-06.jpg"); 
			background-position-y: center;
    		background-position-x: center;
		}
		&.hd-contato{
			background-image: url("../img/banner/banner-thiago-silva-04.jpg");
			background-position-y: center;
    		background-position-x: center;
		}

	}

	&.faq {
		padding: 50px 0;
	}

	&.especialidade {
		padding: 30px 0;

		h2 {
			font-size: 28px;
			padding-top: 15px;
			padding-bottom: 30px;

			&.margin-zero{
				padding-bottom: 0;
			}
		}
		img {
			/*float: right;*/
			@include border-radius(5px);
			border: 3px solid $ts-cinzaclaro;
			/*margin: 0 15px 15px;
			width: 100%;
			height: auto;
			max-width: 500px;*/
		}
		p {
			padding: 10px 0;
		}
		ul {
			margin: 30px 0;
			padding-left: 0;
			li {
				list-style-type: none;
				color: $ts-chumbo;
				-webkit-font-smoothing: antialiased;
				padding: 3px 0;
				background: url(../img/bullet.png)no-repeat 0 5px;
				padding-left: 25px;
			}
		}
	}

	&.formacao {
		padding: 30px 0;

		h2 {
			font-size: 28px;
			padding-top: 15px;
			padding-bottom: 30px;

			&.margin-zero{
				padding-bottom: 0;
			}
		}

		h3 {
			font-size: 22px;
			padding-top: 20px;
			padding-bottom: 10px;
		}

		p {
			padding: 10px 0;
		}
		ul {
			margin: 30px 0;
			padding-left: 0;
			li {
				list-style-type: none;
				color: $ts-chumbo;
				-webkit-font-smoothing: antialiased;
				padding: 3px 0;
				background: url(../img/bullet.png)no-repeat 0 5px;
				padding-left: 25px;
			}
		}
	}

	&.contato {
		padding: 30px 0;
		p {
			padding: 10px 0;
		}
		form {
			#form{ 
			    background: #5e739a;
			    border-radius: 20px;
			    padding: 30px;
			}
			textarea.form-control{ height: 150px;}
			.select{
			    background: #7da9cd;
			    color: #fff;
			}
			.btn-form-contato{
				background: $ts-azulescuro;
				font-weight: 300;
				font-size: 14px;
				color:$ts-branco;
				-webkit-font-smoothing: antialiased;
			}
		}
	}
}

footer {
	background: $ts-azulclaro;
	p {
		color: $ts-branco;
		font-size: 14px;
		text-align: center;
		padding: 15px 0;
		text-rendering: optimizeLegibility;
	}
}


@media (min-width: 992px) and (max-width: 1024px) {
	section {
		&.destaque {
			height: 420px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	header {
		.navbar-brand {
			padding: 16px 0 0;
			width: 260px;
			height: 46px;
	    	
		}

		.nav > li > a {
			margin-top: 5px;
		}
	}
	section {
		&.destaque {
			height: 340px;
		}
	}
}
@media (max-width: 767px) {
	section {
		&.destaque {
			height: 300px;
		}
		&.consulta-faq {
			p {
				padding-bottom: 30px;
			}
		}
		&.contato-navegacao {
			padding:30px 0;
			h2 {
				margin-top: 20px;
			}
		}
		&.especialidades-home {
			padding-bottom: 40px;


			.box-especialidade{
				min-height: 170px;
		
				padding: 15px 15px 60px;
				margin-bottom: 20px;
				

				h2 {
					max-width: 300px;
					min-height: 30px;
					
				}
				a {
					&.btn-saiba-mais {
						bottom: 20px;
					}
				}
				
			}
		}

	}
}
@media (max-width: 480px) {	
	header {
		.navbar-brand {
			padding: 16px 0 0;
			width: 220px;
			height: 46px;
	    	
		}

		.nav > li > a {
			margin-top: 5px;
		}
	}
	section {
		&.destaque {
			height: 220px;
		}
	}
 }

